img{
        height: auto;
        /*opacity: 0.5;*/
    }
    .card{
    position: absolute;
    margin-top: 50%;
  /*padding-right: 20px;*/
    }
    .card-header{
        text-align: center;
    }
    body{
        background-color: #ebeeef;
    }
  .loginbtn:hover{
    background-color:  black;
  }
  a.txt1{
    text-align: right;
    padding-right: 20%;
  }
  .loginbtn{
    border-radius: 25px;
    width: 70px;
  }
  .forgotpass{
   float: right;
     }
     button{
      background-color: red;
     }

     